<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changwhaj's Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Changwha's Blog</a></h1>
    </div>

    <div>
        <p>published: 14.05.2017, 11:20</p>
        <h2><a href="">My first post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.05.2017, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>
            $ git add --all .
-A ("all"의 축약어) 는 git이 삭제한 파일을 인식합니다. (기본적으로, 새로 추가하거나 변경한 파일만 인지합니다.) 또한 .의미가 현재 디렉토리라는 것을 기억하고 있죠? (3장에서 언급한 내용이에요.)
            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
</body>
</html>